<!DOCTYPE html>
<html>
  <head>
    <title>Tokyo mania Trip</title>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>

  <body>
    <header class="logo and navbar-inverse">
      <div class="container">
        <%= link_to_unless_current "TOP",root_path, id:"logo" %>
        <%= link_to_unless_current "Season",root_path, id:"logo" %>
        <%= link_to_unless_current "Hoby",root_path, id:"logo" %>
        <%= link_to_unless_current "Cultural",root_path, id:"logo" %>
        <%= link_to_unless_current "Historical",root_path, id:"logo" %>
      </div>
      
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
